.pCombobox {
  display: inline-block;
  position: relative;
}

.pCombobox input[type='text'] {
  box-sizing: border-box;
  width: 100%;
}

.pCombobox ul {
  background: #fff;
  border: 1px solid #ccc;
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  z-index: 1000;
  max-height: 170px;
  overflow-y: auto;
  }

.pCombobox ul > li {
  cursor: pointer;
  padding: 5px 10px;
}

.pCombobox ul > li.pCombobox-active {
  background: #85a1e0;
}
 .pCombobox ul>li {
  transition: background .05s;
}